# The URI to use to access your MQTT Broker
# The format is 
# mqtt(s)://[username[:password]@]host[:port]

MQTT_URL="mqtt://username:password@localhost:1883"

# Prune any messages older than this
PRUNE_HOURS=48

# If you want to use Postgres or MySQL in development, uncomment this 
# See https://guides.rubyonrails.org/configuring.html#configuring-a-database
# DATABASE_URL="postgresql://localhost/zigbee2mqtt_capture_development?pool=5"

# The base URL of your Zigbee2MQTT server, e.g. http://192.168.2.3:8080
# Note, no / at the end
ZIGBEE2MQTT_BASE="http://192.168.1.100:8080"